!/log/.keep
!/tmp/.keep
**.orig
*.DS_Store
*.bowerrc
*.bridgesupport
*.gem
*.rbc
.AppleDB
.AppleDesktop
.AppleDouble
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.byebug_history
.com.apple.timemachine.donotpresent
.dat*
.env
.envrc
.fseventsd
.powenv
.repl_history
.rspec
.ruby-version
.rvmrc
/.bundle
/.config
/.yardoc/
/InstalledFiles
/_yardoc/
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/doc/
/lib/bundler/man/
/log
/log/*
/pkg/
/public/system
/rdoc/
/spec/examples.txt
/spec/reports/
/spec/tmp
/test/tmp/
/test/version_tmp/
/tmp/*
/vendor/assets/bower_components
/vendor/bundle
Icon
Network Trash Folder
Temporary Items
bower.json
build-iPhoneOS/
build-iPhoneSimulator/
build/
capybara-*.html
config/initializers/secret_token.rb
node_modules
pickle-email-*.html
rerun.txt
