#page-boards.page-show {
  .menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .copy-link {
    display: inline-block;
    margin: 20px;

    &:active {
      animation: flash .25s;
      opacity: 1;
    }

    @keyframes flash {
      0% {
        opacity: .2;
      }
      100% {
        opacity: .99;
      }
    }
  }

  .show-as-markdown-link {
    display: inline-block;
    margin: 20px;
  }

  .category-title {
    font-size: 4.0rem;
    margin-bottom: 20px;
    color: #999;
  }

  .board-container {
    display: flex;
    padding: 20px;

    @media #{$BREAK-PHONE} {
      display: block;
    }
  }

  .category-container {
    justify-content: space-between;
    width: calc(100% / 3);
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    @media #{$BREAK-PHONE} {
      width: 100%;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 200px;
      }
    }
  }

  .card-container {
    position: relative;
    margin-bottom: 5px;
    padding: 20px;
    cursor: move;

    &.over {
      border: 2px dashed #000;
    }
  }

  .card {
    font-family: $font-bold;
    font-size: 2.2rem;
    display: inline-block;
    width: 100%;
    cursor: text;
    -webkit-user-select: text;
            user-select: text;
    border: 1px solid transparent;

    &:focus {
      border: 1px dotted #444;
    }
  }

  .card-action {
    position: absolute;
    right: 5px;
    bottom: 1px;
    cursor: pointer;
    color: $link-text-color;
  }

  .add-card-link {
    font-size: 2rem;
    display: flex;
    align-items: center;
  }

  .add-card-link__label {
    font-family: $font-bold;
    line-height: 1.3;
    position: relative;
    margin-left: 20px;
    padding: 12px;
    color: #000;
    border: solid 1px #fff;
    border-radius: 10px;
    background: #fff;

    &::before {
      position: absolute;
      top: 50%; left: -10px;
      display: block;
      width: 0;
      height: 0;
      margin-top: -10px;
      content: '';
      border-width: 10px 10px 10px 0;
      border-style: solid;
      border-color: transparent #fff transparent transparent;
    }
  }
}
