- cache [card, card_counter] do
  .card-container.js-card-container{ draggable: 'true', data: { index: card_counter, category: { id: card.category_id } } }
    .card.js-card.js-prevent-sync-on-typing{ data: { key: card.key }, contenteditable: 'true'}
      = card.content
    .card-action
      %i.fa.fa-trash-o.js-delete-action.hidden
