html {
  @include font-main;
  font-weight: 100;
}

body {
  @include font-main;
  font-size: 1.6rem;
  color: $base-text-color;
  background: $background-color;
}

[type=image],
img.sprite {
  user-select: none;

  -webkit-tap-highlight-color: transparent;
  object-fit: none;
  object-position: 0 0;

  &:active {
    object-position: 0 100%;
  }
}

a {
  color: $link-text-color;

  &:hover {
    color: $link-hover-text-color;
  }
}

.hidden {
  display: none;
}
