$base-text-color: #002222;
$background-color: #f0f0f0;

$BREAK-PHONE: "screen and (max-width:599px)";

$font-bold: 'rounded-mplus-1c-bold', '-apple-system', 'Yu Gothic', YuGothic, Verdana, Meiryo, 'M+ 1p', sans-serif;
