.hidden {
  display: none;
}

.board-container {
  display: flex;
}

.category-container {
  min-width: 100px;
  margin-right: 20px;
  justify-content: space-between;
}

.card-container {
  cursor: move;
  padding: 10px;
  margin-bottom: 5px;
  background: #ededed;

  &.over {
    border: 2px dashed #000;
  }
}

.card {
  display: inline-block;
  width: 100%;
  background: #fff;
}
